/* Header */
* {
    font-family: "Poppins", sans-serif;
}

nav ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #623C27; 
}


nav li {
    margin-right: 35px;
}

nav li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
}

nav li a:hover {
    background-color: #AC6848;
}

nav li .tittle {
    font-size: 20px;
    font-family: "Pacifico", sans-serif;
    color: white;
    margin-left: 50px;
    padding: 5px 0 5px 0;
}

.active {
    background-color: #AC6848;
}

.headerblog img {
    max-width: 100%;
}

.headerblog .teks {
    position: absolute;
    left: 67%;
	top: 190px;
	color: white;
}

/* Main */
main {
    margin: 20px 40px 0 40px;
}
.leftcolumn {
    float: left;
    width: 80%;
}

.rightcolumn {
    float: left;
    width: 20%;
    padding-left: 20px;
}

.leftcolumn .card {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: hsl(21, 43%, 27%);
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.rightcolumn .profile li a {
    color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.profileimage{
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    border: 5px solid #E7AA7B;
}

.profile li {
    list-style-type: none;
    font-size: 14px;
    padding: 0 5px 5px 5px;
}

.content {
    margin-right: 10px;
    text-align: justify;
}

.profile {
    text-align: justify;
}

#article h5 {
    color:grey;
}

/* slides gambar */
.prev, .next {
    cursor: pointer;
    margin-left: 30%;
    top: 50%;
    font-weight: bold;
    font-size: 20px;
    color: #623C27;
    padding: 10px;
    width: auto;
    transition: 0.6s ease;
    border-radius: 10px;
    user-select: none;
}
  
.prev:hover, .next:hover {
    background-color: #E7AA7B;
}

.numberslide {
    font-size: 12px;
    top: 0;
}


/* Footer */
.copyright{
    text-align: center;
    background-color: #AC6848;
    color: white;
    margin-top: 20px;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
    .leftcolumn {
        width: 100%;
        padding: 10;
    }
    * p{
        font-size: 16px;
    }

    /* navbar */
    nav li a {
        font-size: small;
        float: right;
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 10px 5px 10px 15px;
    }
    nav li .tittle {
        font-size: 16px;
        font-family: "Pacifico", sans-serif;
        color: white;
        margin-left: 10px;
        padding: 5px 0 5px 0;
    }
    nav li {
        margin-right: 5px;
    }

   /*  main */ 
    main {
    margin: 5px 10px 0 10px;
    }

    /* kolom profile */
    .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .row .leftcolumn {
        grid-row: 1;
    }

    .row .rightcolumn {
        grid-column: 1;
    }
    .rightcolumn {
        width: 80%;
    }

    .profileimage{
        width: 150px; 
        height: 150px; 
        object-fit: cover;
        border: 3px solid #E7AA7B;
    }

    .profile li {
        list-style-type: none;
        font-size: 10px;
        padding: 0 5px 5px 5px;
    }

    .profile p{
        font-size: 12px;
    }

    /* Footer */
    .copyright p{
        font-size: 10px;
    }

}